<div class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="row">
          <h4><a href="https://akveo.github.io/ng2-smart-table" target="_blank">ng2-smart-table examples</a></h4>
        </div>
        <hr/>
        <div class="row">
            <h5>1. Basic table with search filter and add new row</h5>
        </div>
        <div class="row">
          <div class="col">
            <ng2-smart-table [settings]="settings1" [source]="data"></ng2-smart-table>
          </div>
        </div>

        <hr />
        <div class="row">
            <h5>2. Simple data table with bootstrap class</h5>
        </div>
        <div class="row">
          <div class="col">
            <ng2-smart-table [settings]="settings2" [source]="data"></ng2-smart-table>
          </div>
        </div>
      </div>
    </div>
</div>